<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="logo" href="index.html">
        <img class="logo__img" src="../../images/logo.svg" width="45" height="45" alt="логотип">
        <img class="logo__img logo__img--dark" src="../../images/logo-dark.svg" width="45" height="45" alt="логотип">
      </a>

      <ul class="header__list">
        <li class="header__item">
          <a class="header__link" href="portfolio.html">
            Портфолио
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="services.html">
            услуги и цены
          </a>
        </li>
        <li class="header__item">
          <a class="header__link" href="contacts.html">
            контакты
          </a>
        </li>
      </ul>

      <a class="header__tel" href="tel:79184123443">
        <svg>
          <use xlink:href="images/sprite.svg#icon-tel"></use>
        </svg>
        +7 918 412-34-43
      </a>

      <button class="burger">
        <span class="burger__row"></span>
      </button>
    </nav>
  </div>
</header>